In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('Absenteeism_data.csv')

In [3]:
data = df.copy()

In [4]:
##data = data.drop('ID', axis =1)

In [5]:
##sorted(data['Reason for Absence'].unique())

In [6]:
reason_columns = pd.get_dummies(data['Reason for Absence'], drop_first=True)

In [7]:
reason_type_1 = reason_columns.loc[:,1:14].max(axis=1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis=1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis=1)
reason_type_4 = reason_columns.loc[:,22:].max(axis=1)

In [8]:
data = data.drop(['Reason for Absence', 'ID'], axis=1)

In [9]:
##data['Reason_type1'] = reason_type_1
data = pd.concat([data, reason_type_1, reason_type_2, reason_type_3, reason_type_4], axis = 1)

In [10]:
data.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [11]:
columns_names = ['Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason_1', 'Reason_2', 'Reason_3', 'Reason_4']

In [12]:
data.columns = columns_names

In [13]:
columns_names_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [14]:
data = data[columns_names_reordered]

In [15]:
data['Date'] = pd.to_datetime(data['Date'], format = '%d/%m/%Y')

In [18]:
type(data['Date'])

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2

In [24]:
list_month = []

for i in range(data.shape[0]):
    list_month.append(data['Date'][i].month)

In [25]:
data['Month'] = list_month

In [32]:
def date_to_weekday(date_value):
    return date_value.weekday()

In [33]:
data['Day of the Week'] = data['Date'].apply(date_to_weekday)

In [36]:
data_reordered = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month', 'Day of the Week', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
       'Pets', 'Absenteeism Time in Hours']
data = data[data_reordered]
data = data.drop('Date', axis = 1)

In [44]:
data['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [42]:
data['Education'] = data['Education'].map({1:0,2:1,3:1,4:1})

In [43]:
data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [45]:
data_preprocessed = data.copy()

In [ ]:
data_preprocessed.to_csv('Absenteeism_preprocessed.csv', index=False)